//ARTÍCULO DEL PERSONAJE
article(class='review')
  h2(class='review__name') Yesenia Yamileth
  h3(class='review__city') San Francisco
  p(class='review__content') Now that there is the Tec-9, a crappy spray gun from South Miami. This gun is advertised as the most popular gun in American crime. Do you believe that shit? It actually says that in the little book that comes with it: the most popular gun in American crime. Like they're actually proud of that shit.
