.review
  text-align left
  padding 1em
  box-sizing border-box
  display inline-block
  height 20em
  vertical-align top
  width 12em

  &__name
  &__city
  &__content
    margin 0

  &__name
    color $font-light-primary
    font-weight 500
    font-size 20px

  &__city
    color $font-light-secondary
    font-size 12px
    font-weight 400
    margin-top .25

  &__content
    color $font-light-secondary
    margin-top 1em
    MaterialText(body-1)
