header(class='header')
  nav(class='header__nav')
    a(class='header__link ico' href='https://www.facebook.com/JorgeBarron28' title="facebook" target='-blank')
    a(class='header__link ico' href='https://twitter.com/@JorgeBarron28' title="twitter" target='-blank')
    a(class='header__link ico' href='https://github.com/jorge8168711/introducing-people-cards' title="github" target='-blank')
    
  div(class='header__info')
    h2(class='header__title') Introducing
    h2(class='header__title') people cards
