.header__title:nth-child(1)::before
.header__title:nth-child(2)::after
  background-color rgba(white, .65)
  border-radius 2px
  content ''
  display block
  height 24px
  position absolute
  width 24px

.header__title:nth-child(1)
  padding-bottom .18em
  &::before
    box-shadow 0 2px 5px 0 rgba(0, 0, 0, 0.11),
               0 2px 10px 0 rgba(0, 0, 0, 0.12),
               -4px -4px 0 rgba(white, .35)
    left 2px
    top 0

.header__title:nth-child(2)
  border-top 1px solid rgba(255,255,255,.85)
  padding-top .1em
  &::after
    bottom 0
    box-shadow 0 2px 5px 0 rgba(0, 0, 0, 0.11),
               0 2px 10px 0 rgba(0, 0, 0, 0.12),
               4px 4px 0 rgba(white, .35)
    right 2px
