.fab
  display block
  width 12em
  height 3em
  border-top 1px solid gray
  background-color white
  position absolute
  bottom 0
  right 0

  &__checkbox
    display none

  &__label
    background-color gray
    border-radius 50%
    color white
    cursor pointer
    height 42px
    line-height 42px
    position absolute
    right 16px
    text-align center
    top -21px
    width 42px
