//BOTÓN FAB
div(class='fab')
  input(class='fab__checkbox' id='fabCheck' type='checkbox' checked='true')
  label(class='fab__label' for='fabCheck') +
  
  //INCLUDE DEL COMPONENTE SOCIALES
  include ../social/social.jade
