.wrapper
  display block
  margin 5em auto
  text-align center

.card
  overflow hidden
  background-color white
  display inline-block
  height 20em
  margin 1em
  MaterialShadow(1)
  width 19em
  position relative

  &__image
    display inline-block
    width 7em
