<!DOCTYPE html>
html(lang='es')
  head
    //-METATAGS
    meta(charset='UTF-8')
    meta(name='description' content='Cards useful to introduce people, based in material design guidelines')
    meta(name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1')

    title introducing-people-cards

    style
      //- INCLUDE QUE CONTIENE LOS ESTILOS DE LA PARTE SUPERIOR DEL SITIO.
      include ./primary-css/primary-css.css

  body
    h2 Inicio del proyecto

  //-INCLUDE DE LOS ESTILOS QUE NO SON PRIORIDAD PARA LA PARTE SUPERIOR DEL SITIO.
  link(rel='stylesheet' type='text/css' href='./public/css/index.min.css')
