<!DOCTYPE html>
html(lang='es')
  head
    //-METATAGS
    meta(charset='UTF-8')
    meta(name='description' content='Cards useful to introduce people, based in material design guidelines')
    meta(name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1')

    title introducing-people-cards

    style
      //- INCLUDE QUE CONTIENE LOS ESTILOS DE LA PARTE SUPERIOR DEL SITIO.
      include ./primary-css/primary-css.css

  body
    div(class='card')
      //IMAGEN DEL PERSONAJE
      img(class='card__image' src='./public/images/card1.jpg', alt='Image')

      //ARTÍCULO DEL PERSONAJE
      article(class='review')
        h2(class='review__name') Yesenia Yamileth
        h3(class='review__city') San Francisco
        p(class='review__content') Now that there is the Tec-9, a crappy spray gun from South Miami. This gun is advertised as the most popular gun in American crime. Do you believe that shit? It actually says that in the little book that comes with it: the most popular gun in American crime. Like they're actually proud of that shit.

      //BOTÓN FAB
      div(class='fab')
        input(class='fab__checkbox' id='fabCheck' type='checkbox' checked='true')
        label(class='fab__label' for='fabCheck') +
        
        //SECCIÓN DE REDES SOCIALES
        div(class='social')
          a(class='social__link' href='#') F
          a(class='social__link' href='#') T
          a(class='social__link' href='#') D
          a(class='social__link' href='#') I
          
  //-INCLUDE DE LOS ESTILOS QUE NO SON PRIORIDAD PARA LA PARTE SUPERIOR DEL SITIO.
  link(rel='stylesheet' type='text/css' href='./public/css/index.min.css')
