/**
 **  IMPORT DE VARIABLES & MIXINS
 **------------------------------------------*/
 @import './tools/material-resources'

/**
 **  IMPORT GOOGLE FONTS & ICON-FONTS
 **------------------------------------------*/
 @font-face {
   font-family: 'Material-Design-Iconic-Font';
   src: url('../fonts/Material-Design-Iconic-Font.woff2?v=2.1.0') format('woff2'),
        url('../fonts/Material-Design-Iconic-Font.woff?v=2.1.0') format('woff'),
        url('../fonts/Material-Design-Iconic-Font.ttf?v=2.1.0') format('truetype');
   font-weight: normal;
   font-style: normal;
 }
@import url("http://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,500,500italic")

/**
 **  IMPORTS DE COMPONENTES
 **------------------------------------------*/
@import './components/card'
@import './components/review'
@import './components/social'
