//- BIG CARDS
div(class='wrapper')
  h2(class='title') Big cards
  //- CARD1
  div(class='card' data-active='inactive')
    button(title="Social Networks" class='card__btn ico')
  
    //- REDES SOCIALES
    div(class='social')
      a(class='social__link ico' href='https://www.facebook.com' target='_blank')
      a(class='social__link ico' href='https://www.twitter.com/' target='_blank')
      a(class='social__link ico' href='https://www.dribbble.com/' target='_blank')
      a(class='social__link ico' href='https://www.instagram.com/' target='_blank')
      
    //- IMAGEN DEL PERSONAJE
    figure(class='card__image-container')
      img(class='card__image' src='./public/images/card1.jpg', alt='Image')

    //- REVIEW DEL PERSONAJE
    article(class='review')
      h2(class='review__name') Yesenia Yamileth
      h3(class='review__city') Founder & chief executive officer, Mars
      p(class='review__content') Great mother, expert on javascript development, small review about this incredible person.

  //- CARD2
  div(class='card' data-active='inactive')
    button(title="Social Networks" class='card__btn ico')

    //- REDES SOCIALES
    div(class='social')
      a(class='social__link ico' href='https://www.facebook.com' target='_blank')
      a(class='social__link ico' href='https://www.twitter.com/' target='_blank')
      a(class='social__link ico' href='https://www.dribbble.com/' target='_blank')
      a(class='social__link ico' href='https://www.instagram.com/' target='_blank')
      
    //- IMAGEN DEL PERSONAJE
    figure(class='card__image-container')
      img(class='card__image' src='./public/images/card3.jpg', alt='Image')

    //- REVIEW DEL PERSONAJE
    article(class='review')
      h2(class='review__name') John Parker 
      h3(class='review__city') Vice president & engineering, The moon
      p(class='review__content') This kid looks awesome that's why is here.
  
  //- CARD3
  div(class='card' data-active='inactive')
    button(title="Social Networks" class='card__btn ico')
    
    //- REDES SOCIALES
    div(class='social')
      a(class='social__link ico' href='https://www.facebook.com' target='_blank')
      a(class='social__link ico' href='https://www.twitter.com/' target='_blank')
      a(class='social__link ico' href='https://www.dribbble.com/' target='_blank')
      a(class='social__link ico' href='https://www.instagram.com/' target='_blank')
    
    //- IMAGEN DEL PERSONAJE
    figure(class='card__image-container')
      img(class='card__image' src='./public/images/card2.jpg', alt='Image')

    //- REVIEW DEL PERSONAJE
    article(class='review')
      h2(class='review__name') Dan Lee
      h3(class='review__city') Chief creative officer, Tokyo
      p(class='review__content') This man is able to write a complete web app just using the windows notepad, that's awesome...

  //- CARD4
  div(class='card' data-active='inactive')
    button(title="Social Networks" class='card__btn ico')
    
    //- REDES SOCIALES
    div(class='social')
      a(class='social__link ico' href='https://www.facebook.com' target='_blank')
      a(class='social__link ico' href='https://www.twitter.com/' target='_blank')
      a(class='social__link ico' href='https://www.dribbble.com/' target='_blank')
      a(class='social__link ico' href='https://www.instagram.com/' target='_blank')
    
    //- IMAGEN DEL PERSONAJE
    figure(class='card__image-container')
      img(class='card__image' src='./public/images/card4.jpg', alt='Image')

    //- REVIEW DEL PERSONAJE
    article(class='review')
      h2(class='review__name') Sarahi Moreno
      h3(class='review__city') Chief creative officer, México
      p(class='review__content') Great mom and awesome front-end developer, able to keep his children quiet while she's writing code.
