/**  INTERACCIONES .card::after
 **------------------------------------------*/

// card desactivado
.card[data-active="inactive"]::after
  opacity .6
  transform translate3d(10px, 10px, 0)

//card activado con clic
.card[data-active="active"]::after
  opacity 1
  transform translate3d(16px, 40px, 0)

//card activado con hover por encima de 1025px
@media screen and (min-width: 1025px)
  .card[data-active="inactive"]:hover::after
    opacity 1
    transform translate3d(16px, 40px, 0)



/**  INTERACCIONES .card__btn
 **------------------------------------------*/

//card__btn desactivado
.card[data-active="inactive"] > .card__btn::before
  content '\f19b' // \f19b
  transform rotate(0deg)

//card__btn activado
.card[data-active="active"] > .card__btn::before
  content '\f136' // \f136
  transform rotate(-90deg)

.card[data-active="active"] > .card__btn:hover
.card[data-active="inactive"] > .card__btn:hover
  background-color $grey-100

/**  INTERCCIONES .social
 **------------------------------------------*/
.card[data-active="inactive"] > .social
  height 0
  visibility hidden

.card[data-active="active"] > .social
  height 40px
  visibility visible

//.social activado con hover por encima de 1025px
@media screen and (min-width: 1025px)
  .card[data-active="inactive"]:hover > .social
    height 40px
    visibility visible

/**  INTERACCIONES .social__link
 **------------------------------------------*/
.card[data-active="inactive"] > .social >.social__link
  border-radius 50%
  transform scale3d(0, 0, 0)

.card[data-active="active"] > .social >.social__link
  &:nth-child(1)
    animation links .15s linear .65s 1 normal forwards
  &:nth-child(2)
    animation links .15s linear .50s 1 normal forwards
  &:nth-child(3)
    animation links .15s linear .35s 1 normal forwards
  &:nth-child(4)
    animation links .15s linear .2s 1 normal forwards

//.social__link activado con hover por encima de 1025px
@media screen and (min-width: 1025px)
  .card[data-active="inactive"]:hover > .social >.social__link
    &:nth-child(1)
      animation links .15s linear .65s 1 normal forwards
    &:nth-child(2)
      animation links .15s linear .50s 1 normal forwards
    &:nth-child(3)
      animation links .15s linear .35s 1 normal forwards
    &:nth-child(4)
      animation links .15s linear .2s 1 normal forwards

@keyframes links
  100%
    border-radius 0
    transform scale3d(1, 1, 1)
