footer(class='footer')
  p(class='signature') <span class="signature__code"> </span> with all the damn <span class="signature__heart"> </span> by <a class="signature__name" href="https://twitter.com/JorgeBarron28" target="_blank">Jorge Eduardo</a>
