.header
  width 100%
  height 200px
  background-color $default-primary-color
  MaterialShadow(1)
  relative
  &::after
    background-color $dark-primary-color
    MaterialShadow(1)
    content ''
    width 100%
    position absolute
    height 20px
    bopttom 0
    left 0
