/**  Animación .card__btn::after
 **------------------------------------------*/
@keyframes icon-more
  100%
    opacity 1
    transform rotate(180)
    visibility visible

/**  .card[data-active="active"] > .card__btn::after
 **------------------------------------------*/
@keyframes icon-close
  100%
    opacity 1
    transform rotate(-180)
    visibility visible
