/**  COMPONENTE REVIEW
 **------------------------------------------*/
.review
  box-sizing border-box
  display inline-block
  height $desktop-height
  padding 1em
  text-align left
  vertical-align top
  width ($desktop-width - $img-width)
  &--small
    height $small-height
    padding .75em
    width ($small-width - $small-img-width)

  &__name
  &__city
  &__content
    margin 0

  &__name
    color rgba($grey-800, .87)
    font-size 20px
    font-weight 500
    &--small
      font-size 18px

  &__city
    color rgba($grey-800, .54)
    font-size 12px
    font-weight 400
    margin-top .25

  &__content
    color rgba($grey-800, .70)
    margin-top 1em
    MaterialText(body-1)
    &--small
      margin-top .75em

@media screen and (max-width: 720px)
  .review
    height $mobile-height
    width ($mobile-width - $img-width)

  .review--small
    height $small-height
    width ($small-width - $small-img-width)

@media screen and (max-width: 1024px)
  .review__name
    padding-right .5em

  .review__name--small
    padding-right 1em
