/**  COMPONENTE REVIEW
 **------------------------------------------*/
.review
  box-sizing border-box
  display inline-block
  height 16em
  padding 1em
  text-align left
  vertical-align top
  width 12em

  &__name
  &__city
  &__content
    margin 0

  &__name
    color rgba($grey-800, .87)
    font-size 20px
    font-weight 500

  &__city
    color rgba($grey-800, .54)
    font-size 12px
    font-weight 400
    margin-top .25

  &__content
    color rgba($grey-800, .70)
    margin-top 1em
    MaterialText(body-1)
