/**  COMPONENTE SOCIAL
 **------------------------------------------*/
.social
  bottom -40px
  right -16px
  position absolute
  text-align right
  width 208px

  //activa .social por clic
  &--active
    height 40px
    visibility visible

  // activa .social por hover
  /.card:hover > .social
    height 40px
    visibility visible

  &__link
    border-radius 50%
    box-sizing border-box
    color white
    display inline-block
    font-size 24px
    height 40px
    line-height 40px
    position relative
    text-align center
    text-decoration none
    transform scale(0)
    width 52px

    //activa .social__link por clic
    &--active
      border-radius 0
      transform scale(1)

    //activa .social__link por hover
    /.card:hover > .social > .social__link
      border-radius 0
      transform scale(1)

    //borde del hover de los links
    &::before
      background-color $accent-color
      bottom 0
      content ''
      height 3px
      left 50%
      position absolute
      transition all .15s linear
      width 0

    //hover que activa el borde de los links
    &:hover:before
      left 0
      width 100%

    //link transitions
    &:nth-child(1)
      transition all .15s linear .65s
    &:nth-child(2)
      transition all .15s linear .5s
    &:nth-child(3)
      transition all .15s linear .35s
    &:nth-child(4)
      border-radius 0 0 2px 0
      transition all .15s linear .2s

    //link IconFonts
    &:nth-child(1)::after
      content '\f343'
    &:nth-child(2)::after
      content '\f360'
    &:nth-child(3)::after
      content '\f33f'
    &:nth-child(4)::after
      content '\f34f'

    //link backgrounds
    &:nth-child(odd)
      background-color rgba(white, .1)
    &:nth-child(even)
      background-color rgba(white, .3)

@media screen and (max-width: 410px)
  .social
    right -14px

@media screen and (max-width: 330px)
  .social
    right -16px
