/**
 **  IMPORTS, NORMALIZE, VARIABLES y MIXINS
 **------------------------------------------*/
@import '../tools/normalize-v3.0.3'
@import '../tools/material-resources'


/**
 **  ELEMENTOS SIN CLASE
 **------------------------------------------*/
body
  background-color rgba(#EEEEEE, .1)

img
  max-width 100%

/**
 **  COMPONENTES
 **------------------------------------------*/
@import '../header/header.styl'
