/**  IMPORTS, NORMALIZE, VARIABLES y MIXINS
 **------------------------------------------*/
@import '../tools/material-resources'
@import '../tools/normalize-v3.0.3'

/**  ELEMENTOS SIN CLASE
 **------------------------------------------*/
body
  background-color $grey-200

img
  max-width 100%

button
  -webkit-appearance none
  -webkit-tap-highlight-color rgba(0, 0, 0, 0)
  border none
  outline none
  touch-action none

/**  COMPONENTES
 **------------------------------------------*/
@import '../components/header/header-primary'
@import '../components/card/card-primary'
@import '../components/review-primary'
@import '../components/social-primary'
