/**  IMPORTS, NORMALIZE, VARIABLES y MIXINS
 **------------------------------------------*/
@import '../tools/material-resources'
@import '../tools/normalize-v3.0.3'

/**  ELEMENTOS SIN CLASE
 **------------------------------------------*/
body
  background-color $grey-200

img
  max-width 100%

/**  COMPONENTES
 **------------------------------------------*/
@import '../components/header/header-primary'
@import '../components/card-primary'
@import '../components/review-primary'
@import '../components/social-primary'
